@font-face {
  font-family: "inter";
  src: url(./../fonts/Inter-Regular.ttf);
}

body {
  font-family: "inter";
  background-color: rgb(12, 2, 51);
  color: aliceblue;
}
/* NAVIGATION */
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
}
header {
  position: relative;
}
.container {
  margin: 0 auto;
  width: 90%;
  max-width: 1440px;
}
.reflect {
  display: flex;
  align-items: center;
  gap: 20px;
}
.reflect {
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  color: aliceblue;
  letter-spacing: 0.5px;
  line-height: 28px;
}
.mid-nav {
  display: flex;
  align-items: center;
  gap: 15px;
}

.back-nav {
  display: flex;
  gap: 15px;
  align-items: center;
}
.gap {
  display: flex;
  gap: 60px;
}
.nav {
  display: flex;
  gap: 15px;
}
.middle-nav li a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  color: aliceblue;
  /* letter-spacing: 0.5px; */
  line-height: 20px;
}
.back-nav li a {
  text-decoration: none;
  color: aliceblue;
}
.back-nav li a button {
  display: flex;
  justify-content: center;
  border: none;
  padding: 15px 20px;
  border-radius: 10px;
  color: aliceblue;
  background: linear-gradient(#550ab8, #170338);
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  color: aliceblue;
  font-family: "inter";
  line-height: 20px;
  cursor: pointer;
}
.burger {
  display: none;
  cursor: pointer;
}
.burger > div {
  width: 32px;
  height: 3px;
  background: aliceblue;
  margin: 0.5rem 0;
  transition: transform 0.6s ease;
}

/* CONTENT */
.main-title-index {
  text-align: center;
  margin-top: 100px;
  font-size: 60px;
  font-weight: bold;
  letter-spacing: 0.5px;
}
.blockquote {
  text-align: center;
  margin-top: 30px;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  letter-spacing: 0.5px;
  color: #b4c3eb;
}
.background {
  position: relative;
  height: 100vh;
  text-align: center;
  width: 100%;
}
.background::before {
  content: "";
  background-image: url("./../img/hero-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-position: center center;
}
header,
main {
  position: relative;
}
.button {
  text-align: center;
  margin-top: 40px;
}
.button button {
  border: none;
  padding: 10px 15px;
  border-radius: 20px;
  color: #d0c4eb;
  background-color: rgba(0, 0, 0, 0.5);
  font-family: "inter";
  cursor: pointer;
  font-size: 14px;
  line-height: 20px;
  border: none;
  padding: 0.5rem 1rem;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 18px;
  color: #d0c4eb;
  box-shadow: 0 1px 2px 0 rgb(102, 102, 102);
  cursor: pointer;
  font-family: "inter";
  font-size: 14px;
  line-height: 20px;
}
.video {
  text-align: center;
  margin: 100px 0;
}
.video video {
  max-width: 90%;
  border-radius: 10px;
  box-shadow: 20px 20px 100px 100px #71a8fc3d;
}
.section {
  display: flex;
  justify-content: center;
}
.info {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
  align-content: center;
  column-gap: 50px;
  row-gap: 40px;
}
.info div {
  max-width: 200px;
  text-align: center;
}

.info div div {
  margin-bottom: 20px;
}
.info div h5 {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}
.info div p {
  font-family: "inter";
  font-size: 16px;
  line-height: 24px;
}
.chain {
  position: absolute;
  max-width: 100%;
  top: 20%;
  right: 10%;
}
.back {
  max-width: auto;
  position: relative;
  top: -50px;
}
.stars {
  max-width: 100%;
  margin-top: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.user {
  width: 32px;
}
.first-box {
  display: flex;
  justify-content: space-around;
  margin-top: 80px;
  gap: 20px;
  background: linear-gradient(rgb(78, 40, 183), rgb(151, 38, 213));
  border-radius: 30px;
  padding: 80px 50px;
}
.content {
  max-width: 100%;
}
.content span {
  font-weight: 600;
  font-size: 25px;
  display: inline-block;
  margin-bottom: 30px;
  color: #cbbaf3;
}
.content h2 {
  font-weight: 700;
  font-size: 50px;
  line-height: 70px;
}
.content .paragraph {
  margin-top: 30px;
  color: #cbbaf3;
  line-height: 25px;
  font-size: 20px;
  text-align: start;
}
.svg {
  display: flex;
  align-items: center;
  margin-top: 50px;
  gap: 25px;
}
.svg div h3 {
  font-weight: 600;
  margin-bottom: 10px;
  font-size: 18px;
  text-align: start;
}

.svg div p {
  color: #cbbaf3;
  line-height: 25px;
  font-size: 17px;
  text-align: start;
}
.users {
  display: flex;
  gap: 10px;
  align-items: center;
  width: 100%;
}
.users:first-child {
  margin-bottom: 15px;
}
.users div h3 {
  font-weight: 600;
  margin-bottom: 5px;
  text-align: start;
}
.users div h4 {
  text-align: start;
  color: #cbbaf3;
  line-height: 25px;
  font-size: 15px;
}
.users img {
  border-radius: 7px;
}
.user-border {
  position: absolute;
  bottom: 20px;
  right: 25%;
  background: linear-gradient(#7653da, #6943ad);
  border-radius: 20px;
  max-width: 100%;
  padding: 10px 10px;
  padding-top: 10px;
}
.screen {
  max-width: 100%;
  overflow: hidden;
  width: 90%;
}

.crm {
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  padding-top: 50px;
}
.network {
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  line-height: 30px;
  margin-top: 25px;
}
.network-quote {
  text-align: center;
  color: #cbbaf3;
  line-height: 25px;
  font-size: 17px;
  margin-top: 20px;
}
.border {
  margin-top: 80px;
  background: linear-gradient(rgb(78, 40, 183), rgb(151, 38, 213));
  border-radius: 30px;
  height: 600px;
  overflow: hidden;
}
.screen-img {
  margin-top: 80px;
  text-align: center;
}
.third-content {
  display: flex;
  align-items: center;
  gap: 20px;
  background: linear-gradient(rgb(33, 12, 160), rgb(38, 108, 213));
  border-radius: 30px;
  margin-top: 80px;
  max-width: 100%;
}
.back-img {
  max-width: 100%;
}
.relative {
  position: relative;
}
.screenshot {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 400px;
  height: auto;
  vertical-align: middle;
}
.content-text h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 20px;
  color: #b4c3eb;
}
.content-text {
  align-self: flex-start;
  padding-top: 50px;
  max-width: 100%;
  text-align: start;
}
.content-text h2 {
  font-weight: 800;
  font-size: 40px;
  line-height: 45px;
  margin-bottom: 20px;
}
.content-text p {
  color: #b4c3eb;
  line-height: 25px;
  font-size: 17px;
  display: inline-block;
  width: 90%;
}
.main-p {
  margin-bottom: 50px;
}
.content-flex {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  margin-bottom: 30px;
}
.content-flex div h4 {
  font-weight: 600;
  margin-bottom: 10px;
}
.title {
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  line-height: 45px;
  margin-top: 100px;
  background: linear-gradient(rgb(255, 255, 255), rgb(3, 76, 160));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.quote {
  text-align: center;
  margin: 30px 0;
  font-size: 20px;
  color: #b4c3eb;
}

.summary {
  display: flex;
  gap: 10px;
  background: rgb(26, 23, 56);
  border-radius: 10px;
  padding: 15px;
}
.summary img {
  border-radius: 50%;
  width: 32px;
  height: 32px;
}
.absolute-flex {
  display: flex;
  gap: 20px;
  max-width: 100%;
}
.flex-column {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.summary div blockquote {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  letter-spacing: 0.5px;
  color: rgb(177, 178, 221);
  text-align: start;
}

.summary div h5 {
  font-weight: 600;
  margin-bottom: 16px;
  letter-spacing: 0.5px;
  text-align: start;
}
.summary div h5 span {
  font-weight: 400;
  font-style: normal;
  color: rgb(152, 147, 227);
  cursor: pointer;
}
.relative-div {
  position: relative;
  max-height: 100%;
}

.absolute-div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.lined-back {
  position: relative;
  top: -150px;
  text-align: center;
}
.lined-back img {
  width: 100%;
}
.absolute-div h4 {
  text-align: center;
  font-weight: 600px;
  color: #8a88ff;
  margin-bottom: 20px;
}
.absolute-div h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 38px;
  text-align: center;
}
.last {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 35px;
  margin-top: 20px;
}
.price {
  font-size: 45px;
  line-height: 1;
  margin-right: 15px;
}
.second-pricing {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.pricing {
  display: flex;
  gap: 30px;
  justify-content: center;
  margin-top: 50px;
}
.month {
  color: #b1b2dd;
  font-size: 1rem;
  line-height: 1.5rem;
}
.bill {
  color: #b1b2dd;
  font-size: 0.75rem;
  line-height: 1rem;
}
.checkbox {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: flex-start;
  text-align: start;
}

.payment {
  display: flex;
}
.check {
  display: flex;
  gap: 30px;
}
.start {
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  background: linear-gradient(#550ab8, #170338);
  cursor: pointer;
  margin-bottom: 50px;
}
.start-button {
  text-align: center;
  margin-top: 60px;
}
.start a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  font-family: "inter";
  line-height: 20px;
  color: aliceblue;
}
.offers {
  display: flex;
  justify-content: space-around;
  gap: 25px;
}
.pink {
  border: 1px solid #ac38ab;
  max-width: 100%;
  border-radius: 20px;
}
.blue {
  border: 1px solid #4a79ff;
  max-width: 100%;
  border-radius: 20px;
}

.pink div {
  padding: 50px 30px;
}
.blue div {
  padding: 50px 30px;
}
.pink div h3 {
  color: #ac38ab;
  font-weight: 600;
  margin-bottom: 30px;
  text-align: start;
}
.pink div h4 {
  font-size: 1.875rem;
  line-height: 2.25rem;
  margin-bottom: 20px;
  text-align: start;
  color: aliceblue;
}
.pink div p {
  color: #b1b2dd;
  line-height: 30px;
  text-align: start;
}
.pink div button {
  background-color: inherit;
  border: 1px solid #ac38ad;
  border-radius: 10px;
  padding: 8px 16px;
  margin-top: 30px;
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}
.pink div button a {
  text-decoration: none;
  color: #ac38ab;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-family: "inter";
}
.pink div button svg {
  color: #ac38ab;
}
.blue div h3 {
  color: #4a79ff;
  font-weight: 600;
  margin-bottom: 30px;
  text-align: start;
}
.blue div h4 {
  font-size: 1.875rem;
  line-height: 2.25rem;
  margin-bottom: 20px;
  text-align: start;
  color: aliceblue;
}
.blue div p {
  color: #b1b2dd;
  line-height: 30px;
  text-align: start;
}
.blue div button {
  background-color: inherit;
  border: 1px solid #4a79ff;
  border-radius: 10px;
  padding: 8px 16px;
  margin-top: 30px;
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}
.blue div button a {
  text-decoration: none;
  color: #4a79ff;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-family: "inter";
}
.blue div button svg {
  color: #4a79ff;
}
footer div {
  text-align: center;
}
.logo {
  margin-top: 100px;
}
.footer-nav {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}
.footer-nav li a {
  text-decoration: none;
  color: aliceblue;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25rem;
}
footer p {
  text-align: center;
  margin-top: 20px;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #b4c3eb;
  margin-bottom: 80px;
}

/* BLOG PAGE */
.main-title {
  margin-top: 100px;
  font-size: 60px;
  font-weight: bold;
  letter-spacing: 0.5px;
  text-align: start;
}
.main-p {
  margin-top: 30px;
  font-size: 22px;
  line-height: 28px;
  font-weight: 400;
  letter-spacing: 0.5px;
  color: #b4c3eb;
}
.blog-nav {
  display: flex;
  gap: 20px;
  margin-bottom: 50px;
}
.blog-nav li a {
  text-decoration: none;
  color: aliceblue;
  border: rgb(168, 85, 247);
}
.blog-nav li {
  background: rgb(38, 108, 213);
  padding: 15px 20px;
  border-radius: 30px;
}
.blog-content div img {
  width: 362px;
  height: 194px;
  border-radius: 10px;
  cursor: pointer;
}
.blog-content {
  /* display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.blog-content div {
  max-width: 362px;
}
.blog-content div div a {
  text-decoration: none;
  color: aliceblue;
  background-color: rgb(38, 108, 213);
  padding: 5px 10px;
  border-radius: 20px;
}
.blog-content div div {
  margin-top: 15px;
}
.blog-content div div span {
  color: #a9aae0;
}
.blog-content div h3 {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.75rem;
  margin-top: 20px;
  cursor: pointer;
}
.newsletter {
  text-align: center;
  margin-top: 200px;
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 700;
}
.input {
  width: 530px;
  background-color: inherit;
  border: 1px solid #6b7280;
  color: #6b7280;
  padding-left: 20px;
  font-size: 1.2rem;
  border-radius: 10px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  outline: none;
  box-sizing: border-box;
}
.input:focus {
  border: 2px solid #6943ad;
}
.blog-flex {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}
.blog-flex button {
  background: linear-gradient(#550ab8, #170338);
  display: flex;
  gap: 10px;
  padding: 1rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.blog-flex button a {
  color: aliceblue;
  font-family: "inter";
  text-decoration: none;
}
.blog-flex button svg {
  width: 1.25rem;
  height: 1.25rem;
  color: aliceblue;
}
/* CHANGELOG PAGE */
.changelog-title {
  font-size: 60px;
  font-weight: bold;
  letter-spacing: 0.5px;
}

.changelog-flex {
  display: flex;
  gap: 20px;
  padding-bottom: 80px;
}
.border-bottom {
  border-bottom: 1px solid #2b3c6b;
}
.changelog-main {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  gap: 30px;
  margin-left: 10%;
}
.changelog-p {
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  letter-spacing: 0.5px;
  color: #b4c3eb;
}
.changelog-flex input {
  background: #03010c;
  padding: 10px;
  width: 247px;
  line-height: 1.25rem;
  font-size: 0.875rem;
  font-family: "inter";
  border: 1px solid #6b7280;
  border-radius: 10px;
  color: #6b7280;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  outline: none;
  box-sizing: border-box;
}
.changelog-flex input:focus {
  border: 2px solid #6b7280;
}
.changelog-flex button {
  background: linear-gradient(#550ab8, #170338);
  border: none;
  border-radius: 10px;
  color: aliceblue;
  font-family: "inter";
  padding: 15px;
  cursor: pointer;
}
.first-cont-flex {
  display: flex;
  margin-top: 80px;
  gap: 20px;
  padding-bottom: 80px;
}
.first-cont-flex div img {
  width: 650px;
  border-radius: 10px;
}
.first-cont-flex div {
  max-width: 100%;
  justify-self: flex-start;
}
.first-cont-flex .sticky {
  font-size: 1rem;
  line-height: 1.5rem;
  color: rgb(156, 163, 175);
  margin-left: 20px;
  position: sticky;
  height: 100%;
  top: 50px;
}
.first-cont-flex div h2 {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2rem;
  margin-bottom: 30px;
}
.first-cont-flex div p {
  margin-bottom: 1.25rem;

  font-size: 1rem;
  line-height: 1.75rem;
  color: rgb(201, 209, 217);
}
.first-cont-flex div ul li {
  list-style: disc;
  margin-left: 30px;
  margin-bottom: 20px;
  color: rgb(201, 209, 217);
}
/* modal */
.glass-buttons {
  display: flex;
  gap: 10px;
  justify-content: space-around;
}
.glass-container {
  max-width: 400px;
}
.glass-buttons button {
  background: linear-gradient(#550ab8, #170338);
  padding: 15px;
  border: none;
  border-radius: 15px;
}
.glass-buttons button svg {
  color: aliceblue;
}
.glass-container p {
  text-align: center;
  margin: 30px 0;
  color: rgb(156, 163, 175);
}
.glass-container h2 {
  color: #c2c1df;
  font-size: 20px;
}
.glass-container div input {
  background: #03010c;
  padding: 10px;
  width: 90%;
  line-height: 1.25rem;
  font-size: 0.875rem;
  font-family: "inter";
  border: 1px solid #6b7280;
  border-radius: 10px;
  color: #6b7280;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  outline: none;
  box-sizing: border-box;
}
.glass-input {
  text-align: center;
}
.glass-container button {
  margin-top: 20px;
  background: linear-gradient(#550ab8, #170338);
  padding: 15px 50px;
  border: none;
  border-radius: 15px;
  width: 90%;
  color: aliceblue;
  font-family: "inter";
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 600;
}
.glass-button {
  text-align: center;
}
.glass-container .glass-img img {
  width: 90%;
}
.glass-img {
  text-align: center;
}
.modal-panel {
  display: none;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(16, 4, 77, 0.5);
  backdrop-filter: blur(4px);
}
.glass-container {
  border-radius: 15px;
  margin: 50px auto;
  padding: 30px;
  box-sizing: border-box;
  text-align: center;
  background: rgb(23, 8, 97);
}

.burger.burger__active div:nth-child(1) {
  transform: rotate(32deg) translateY(13px);
}

.burger.burger__active div:nth-child(2) {
  opacity: 0;
}

.burger.burger__active div:nth-child(3) {
  transform: rotate(-32deg) translateY(-13px);
}
@media (max-width: 1024px) {
  header nav .mid-nav:first-child {
    min-width: 60%;
    margin-left: 60px;
  }
  .info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .blog-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
  .mid-nav {
    margin-left: 30px;
  }
}
@media (max-width: 768px) {
  header nav {
    flex-direction: column;
  }
  header nav .reflect-title {
    align-self: flex-start;
    z-index: 1;
  }
  header nav .burger {
    position: absolute;
    display: block;
    top: 2rem;
    right: 2.5rem;
    z-index: 1;
  }
  header nav .mid-nav {
    display: none;
  }
  header nav .mid-nav.mid-nav__active,
  header nav .back-nav.back-nav__active {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.7rem;
    margin-top: 2rem;
  }
  .mid-nav {
    justify-content: center;
  }
  .nav {
    flex-direction: column;
  }
  .back-nav {
    flex-direction: column;
  }

  header nav .mid-nav li {
    width: 90%;
    text-align: center;
    padding: 1rem;
  }
  .screenshot {
    max-width: 100%;
  }
  .offers {
    margin-top: 60%;
    flex-direction: column;
  }
  .absolute-div {
    margin-top: 38%;
  }
  .absolute-flex {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .last-flex {
    display: flex;
  }
  .first-box {
    flex-direction: column;
  }
  .check {
    justify-content: space-between;
  }
  .user-border {
    top: 70%;
    height: fit-content;
    left: 10%;
  }
  .svg {
    gap: 0;
  }
  .svg svg {
    width: 70px;
  }
  .chain {
    left: 10px;
  }
  .third-content {
    flex-direction: column;
  }
  .screenshot {
    top: 50%;
    width: 80%;
  }
  .content-text {
    padding: 25px;
  }
  .lined-back {
    top: 40%;
  }
  .pricing {
    flex-direction: column;
  }
  .payment {
    justify-content: center;
  }
  .footer-nav {
    flex-wrap: wrap;
  }
  .blog-nav {
    flex-wrap: wrap;
  }
  .blog-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* flex-direction: column; */
    gap: 50px;
  }
  .blog-content div h3 {
    max-width: 70%;
  }
  .blog-content div {
    max-width: 362px;
  }
  .blog-flex {
    flex-direction: column;
  }
  .input {
    padding: 10px 10px;
    align-self: center;
    max-width: 100%;
  }
  .blog-flex button {
    max-width: 40%;
    align-self: center;
  }
  .date {
    display: inline-block;
    max-width: 90%;
    margin-right: 0;
  }
  .border-bottom {
    display: flex;
    justify-content: flex-end;
    max-width: 100%;
  }
  .first-cont-flex {
    max-width: 100%;
    justify-content: space-between;
  }
  .first-cont-flex div {
    max-width: 80%;
  }
  .first-cont-flex div img {
    max-width: 90%;
  }
}
@media (max-width: 480px) {
  .first-box {
    display: flex;
    flex-direction: column;
  }
  .user-border {
    top: 40%;
    background: linear-gradient(#7653da, #6943ad);
    height: fit-content;
    left: 10%;
  }
  .svg {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
  .svg svg {
    width: 70px;
  }

  .first-box {
    padding: 15px;
  }
  .chain {
    top: 0;
    left: 10px;
  }
  .back {
    top: 0;
  }
  .content span {
    margin-top: 20px;
  }
  .absolute-flex {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .lined-back {
    top: 50%;
  }
  .absolute-div {
    top: 100%;
  }
  .last {
    margin-top: 30px;
  }
  .pricing {
    flex-direction: column;
  }
  .month {
    text-align: start;
  }
  .check {
    flex-direction: column;
    gap: 10px;
  }
  .offers {
    margin-top: 450px;
  }
  .content h2 {
    font-size: 35px;
  }
  .footer-nav {
    max-width: 100%;
    flex-wrap: wrap;
  }
  .content-text {
    padding-right: 10px;
  }
  .network {
    padding: 10px;
    line-height: 3rem;
  }
  .network-quote {
    padding: 10px;
  }
  .paragraph {
    padding: 10px;
  }
  .third-content {
    flex-direction: column;
  }
  .screenshot {
    top: 50%;
    width: 80%;
  }
  .content-text {
    padding: 20px;
  }
  footer img {
    max-width: 100%;
  }
  .blog-content div img {
    max-width: 100%;
  }
  .blog-content {
    gap: 50px;
  }
  .blog-content div h3 {
    margin-top: 10px;
  }
  .date {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .date a {
    align-self: flex-start;
  }
  .changelog-main {
    justify-content: center;
    max-width: 100%;
  }
  .changelog-flex {
    flex-direction: column;
  }
  .changelog-flex button {
    max-width: 50%;
  }
  .changelog-title {
    font-size: 45px;
  }
  .glass-container {
    max-width: 90%;
  }
}
